*{
	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.navbar{
	
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.head h4{
	
	font-weight: bold;
}

img{
	
	width: 100%;
}

.home-img{
	
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}